footer 
{
 background-color:var(--background-dark);
 height: 128px; 
 padding:48px 0;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap:64px;
}

.footer-content 
{
  width: 100%;
  padding:0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:32px;
}

.footer-content p 
{
  color:var(--text-muted)
}