.search-result {
  padding: 12px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-result .card {
  height: 172px;

  display: flex;
  gap: 16px;

  min-width: 0;

  text-decoration: none;
  color: inherit;
}

.search-result .card .thumbnail {
  width: 313px;
  height: 172px;

  flex-shrink: 0;

  object-fit: cover;
}

.search-result .content {
  background-color: transparent;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 8px;

  min-width: 0;
}

.title-view {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.profile-supportive-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}